:root {
    --bg-color: rgb(200, 207, 248);
    --blue-main: rgb(47, 49, 175);
}

* {
    margin: 0;
    padding: 0;
}

a, abbr {
    color: #000;
    text-decoration: none;
}

.my20 {
    margin: 20px 0;
}

.mr5{
    margin-right: 5px;
}

.py20 {
    padding: 20px 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10{
    margin-top: 10px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.w-80 {
    width: 80%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.bold-text:hover{
    font-weight: 600;
}

.btn-small{
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    margin: 8px 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    background-color: #bcbcbc;
    color: rgb(0, 0, 0);
    border: 2px solid #818181;
    transition: 0.5s ease;
    cursor: pointer;
    overflow-wrap: normal;
}

.btn-small:hover{
    letter-spacing: 1px;
}

.container {
    font-family: 'Manrope', sans-serif;
    position: relative;
    min-height: 100%;
}

.nav, .footer {
    background: var(--bg-color);
    background: linear-gradient(180deg, rgba(200, 207, 248, 1) 0%, rgba(88, 91, 250, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    color: #fff;
}

.nav #open, .nav #close {
    display: none;
    visibility: hidden;
}

.nav {
    border-bottom: 3px solid rgb(47, 49, 175);
    position: relative;
}

.flex{
    display: flex;
}

.flex-x {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-y {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-between-x {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-between-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-start-x {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-start-xx{
    display: flex;
    justify-content: flex-start;
}

.flex-start-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-around-x{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex {
    display: flex;
}

.nav ul, .footer ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav ul li a,
.footer ul li a,
.nav-bottom .user {
    text-decoration: none;
    color: #fff;
    transition: all .5s ease-in-out .05s;
}

.fa-angle-down {
    margin-left: 5px;
    font-size: 16px;
}

.nav .menu li:hover {
    transition: all .4s ease;
    transform: scale(1.1) translateY(-3px);
}

.logo {
    height: 60px;
    width: 60px;
}

.nav .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -10px 0px 13px -7px rgba(0, 0, 0, 0.6), 10px 0px 13px -7px rgba(0, 0, 0, 0.6), 0px 0px 25px 3px rgba(0, 0, 0, 0.6);
}

.nav ul li:nth-child(n + 2),
.footer ul:nth-child(1) li:nth-child(n + 2) {
    margin-left: 20px;
}

.nav .text {
    font-family: 'Glass Antiqua', cursive;
    font-size: 35px;
}

.nav .menu {
    margin-right: 15px;
}

.nav #open, .nav #close {
    display: none;
}

.nav-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}

.nav-bottom .user {
    padding: 0 10px 4px 0;
    font-size: 17px;
}

.footer {
    background: rgb(88, 91, 250);
    background: linear-gradient(180deg, rgba(88, 91, 250, 1) 0%, rgba(200, 207, 248, 1) 100%);
    border-top: 3px solid rgb(47, 49, 175);
    align-items: flex-end;
}

.footer ul:nth-child(1) li:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.nav .dropdown-menu {
    position: relative;
    cursor: pointer;
}

.nav .dropdown-elements {
    position: absolute;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    background: rgb(109, 112, 250);
    background: linear-gradient(180deg, rgb(124, 128, 250) 0%, rgba(92, 95, 250, 1) 100%);
    border-radius: 5px;
    /* margin-top: 7px; */
    z-index: 5;
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.nav .dropdown-menu:hover {
    z-index: 5;
    transform: translateY(0px);
}

.nav .dropdown-elements li {
    padding-bottom: 3px;
    font-size: 15px;
    padding: 5px 10px;

}

.nav .dropdown-elements hr {
    border-bottom: 2px solid #fff;
    width: 100%;
}

.nav .dropdown-elements li:hover {
    transform: scale(1) translateY(-3px);
}

.nav .dropdown-elements li:nth-child(n + 2) {
    margin-left: 0;
}

.email-text {
    min-height: 80vh;
    margin: 0 20px;
}

.inner-container {
    background-color: var(--bg-color);
}

/* PAGINATION */


.pagination li {
    list-style: none;
    margin: 5px;
    padding: 0 5px;
    border: 1px solid var(--blue-main);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.pagination li:hover {
    transform: scale(1.1);
}

.pagination .disabled {
    pointer-events: none;
    opacity: 0.5;
}

.border {
    border: 1px solid var(--blue-main);
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
}

.border .fa-caret-right{
    font-size: 25px;
    margin-right: 10px;
}

.border a{
    color: var(--blue-main);
}

.border a:hover{
    text-decoration: underline;
}